.media--wrapper {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-template-rows: repeat(var(--column-count), 1fr);
  &.wrapper-fill {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (--md) {
      object-fit: unset;
    }
  }
}
#crazy-face {
  position: absolute;
  z-index: calc(infinity + 2);
  transform: translate(-50%, -100%);
  animation: rock 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

@keyframes rock {
  to {
    rotate: 15deg;
  }
}
