@property --y {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.slide {
  overflow: hidden;
  height: calc(100svh - var(--gin-toolbar-secondary-height, 0px));
  max-height: calc(100svh - var(--gin-toolbar-secondary-height, 0px));
  background: var(--bg, var(--bg-default));
  @container style(--bg-default: var(--blue)) {
    p,
    li {
      color: white;
    }
  }
  .grid {
    --col-number: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    padding-inline: 2rem;
    place-items: center;
    aspect-ratio: unset;
    gap: 2rem;
    @media (--md) {
      --col-number: 2;
      display: grid;
      padding-inline: 6rem;
      gap: 4rem;
      grid-template-columns: repeat(var(--col-number, 2), 1fr);
    }
  }
  h1 {
    --shadow-color: black;
    animation: dropshadow 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    font-style: italic;
    line-height: 1;
    color: white;
    -webkit-text-stroke: 0px black;
    text-stroke: 0px black;
  }
}

@keyframes dropshadow {
  100% {
    text-shadow: -1px 1px var(--shadow-color), -2px 2px var(--shadow-color), -3px 3px var(--shadow-color), -4px 4px var(--shadow-color),
      -5px 5px var(--shadow-color), -6px 6px var(--shadow-color), -7px 7px var(--shadow-color), -8px 8px var(--shadow-color),
      -9px 9px var(--shadow-color), -10px 10px var(--shadow-color);
  }
}
