@import "./base/_custom-media.css";
@import "./base/_variables.css";
@import "./base/_base.css";

@import "./components/_slide.css";
@import "./components/_slide-generic.css";
@import "./components/_slide-1.css";
@import "./components/_slide-2.css";
@import "./components/_navigation.css";
@import "./components/_marquee.css";
@import "./components/_media.css";
@import "./components/_button.css";
